body{
    background-color: black;
    margin: 0px;
}
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
}
.maincontent{
    display: flex;
    flex-direction: row;
}

.text1{
    display: flex;
    flex-direction: column;
}

.text2{
    display: flex;
    flex-direction: column;
}

#maintitle{
    font-family: "ocr-a-std", monospace;
    color:white;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
    margin-top: 75px;
}

.abouttext{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 80px;
    margin-left: 200px;
    margin-bottom: 100px;
    width:500px;
}

#aboutsubtitle{
    font-family: "ocr-a-std", monospace;
    color:white;
    font-weight: 200;
    font-size: 40px;
    font-style: normal;
    border-bottom: 3px solid white;
    width: 500px;
}

#aboutbody{
    font-family: "ocr-a-std", monospace;
    color:white;
    font-weight: 200;
    font-size: 20px;
    font-style: normal;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}



#balenciaga{
    font-family: "ocr-a-std", monospace;
    font-weight: 200;
    font-size: 40px;
    font-style: normal;
    align-content: center;
    width: 292px;
    padding-top: 8px;
    margin-left: 200px;
}

.item1{
    width: 292px;
}

.image1{
    position: absolute;
    margin-top: 100px;
    margin-left: 1200px;
    opacity: 0;
    z-index: 1;
    transition: opactiy 2s ease-in;
}

#balenciaga:hover{
    background-color: #AB2013;
    -webkit-transform: translate(25%,0%);
    -ms-transform: translate(25%, 0%);
    transform: translate(25%,0%);
    white-space: nowrap;
    transition: all 1.5s ease;
}

.item1:hover + .image1{
    display: block;
    opacity: 1;
}


#maisonmargiela{
    font-family: "ocr-a-std", monospace;
    font-weight: 200;
    font-size: 40px;
    font-style: normal;
    align-content: center;
    width: 435px;
    padding-top: 8px;
    margin-left: 200px; 
}

.item2{
    width: 435px;
}

.image2{
    position: absolute;
    margin-top: 100px;
    margin-left: 1200px;
    display: none;
    z-index: 1;
}

#maisonmargiela:hover{
    background-color: #1F36AB;
    -webkit-transform: translate(25%,0%);
    -ms-transform: translate(25%, 0%);
    transform: translate(25%,0%);
    white-space: nowrap;
    transition: all 1.5s ease;
}

.item2:hover + .image2{
    display: block;
    transition: all 2s ease-in;
}

#sacai{
    font-family: "ocr-a-std", monospace;
    font-weight: 200;
    font-size: 40px;
    font-style: normal;
    align-content: center;
    width: 152px;
    padding-top: 8px;
    margin-left: 200px;
}

#spacer{
    display: flex;
    margin-left: 200px;
    border-bottom: 3px solid white;
}

.item1{
    width: 152px;
}

.image3{
    height: 250px;
    width: 200px;
    position: absolute;
    margin-top: 100px;
    margin-left: 1200px;
    display: none;
    z-index: 1;
}

#sacai:hover{
    background-color: #CCA30E;
    -webkit-transform: translate(25%,0%);
    -ms-transform: translate(25%,0%);
    transform: translate(25%,0%);
    white-space: nowrap;
    transition: all 1.5s ease;
}

.item3:hover + .image3{
    display: block;
    transition: all 8s ease-in;
}

#map{
    font-family: "ocr-a-std", monospace;
    font-weight: 200;
    font-size: 40px;
    font-style: normal;
    align-content: center;
    width: 90px;
    padding-top: 8px;
    margin-left: 200px;
}

#map:hover{
    background-color: #5CAB1B;
    -webkit-transform: translate(25%,0%);
    -ms-transform: translate(25%, 0%);
    transform: translate(25%,0%);
    white-space: nowrap;
    transition: all 1.5s ease;
}
